.container {
  flex: 1;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.toolbar {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e5e5e5;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.inline {
  display: inline;
}

.main {
  flex: 1;
  padding: 16px;
}

.actionRoot {
  justify-content: space-between;
}
